<section id="about" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-5">
        <h2 class="section-title">About Me</h2>
        <hr class="divider">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="assets/about-image.jpg" alt="About" class="img-fluid rounded">
      </div>
      <div class="col-lg-6">
        <h3>I'm a passionate developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled">
              <li><strong>Name:</strong> Your Name</li>
              <li><strong>Email:</strong> your.email@example.com</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled">
              <li><strong>Phone:</strong> +123 456 7890</li>
              <li><strong>Location:</strong> City, Country</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
